/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.nav-tab-wrapper ul .General a:before {
    content: "\f111" !important;
}

.nav-tab-wrapper ul li.Support a.nav-tab:before {
    content: "\f125";
}

.wbcom-admin-option-wrap input#bcm_email_subject {
    border-radius: 10px;
    border: 1px solid #ddd;
    width: 100%;
    padding: 5px 15px;
    height: 45px;
}
.form-table.contact-me-general .wbcom-settings-section-wrap {
    overflow: unset;
}